/* .container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
*/
h1 {
  margin-bottom: 10%;
}

h5 {
  margin-bottom: 5%;
}

.slide:hover {
  animation: yourAnimation 5s infinite 0s ease-in;
}

#title-div {
  margin-bottom: 50px;
}

@keyframes yourAnimation {
  0% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  78% {
    transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}
